<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cota Fácil</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#fafafa">
    <div class="jumbotron jumbotron-fluid bg-info text-white text-center">
        <div class="container">
            <h1 class="display-1">Cota Fácil</h1>
            <p class="lead">Cotações de um jeito fácil que você nunca viu</p>
        </div>
    </div>
    <!--<div class="container-fluid">
        <nav class="navbar fixed-top navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="~/Images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                Cota Fácil - Centerlab
            </a>
        </nav>
    </div> -->
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cota Fácil</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
